.navbar-item {
    text-decoration: none;
    -webkit-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}

.area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .area {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .area {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .area {
        width: 1140px;
    }
}

.navbar-component {
    margin-bottom: 3em;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}

.navbar-component>.navbar {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.navbar>.brand {
    display: block;
    font-size: 22px;
    color: #777;
    margin: 22px;
    text-decoration: none;
    -webkit-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}

.navbar>.list {
    display: none;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
}

@media (min-width: 100px) {
    .navbar>.list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

.navbar>.list.-on {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.navbar>.list>.navbar-item {
    display: block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 64px;
    line-height: 64px;
    padding-left: 22px;
    padding-right: 22px;
    text-transform: uppercase;
    color: #555;
    font-size: 14px;
    text-decoration: none;
    -webkit-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
    font-size: 1.5em;
}

.navbar>.list>.navbar-item.-link {
    line-height: 68px;
    color: #555;
    border-bottom: 4px solid transparent;
}

.navbar>.list>.navbar-item.-link.-active,
.navbar>.list>.navbar-item.-link:hover,
.navbar>.list>.navbar-item.-link:focus {
    color: #333;
    border-bottom-color: rgb(0, 188, 212);
    cursor: pointer;
}

.navbar-avatar {
    vertical-align: middle;
}
